{{> head}}



{{> navbar}}


<div class="row">

    <div class="col-8">
        <h1>Golden State Warriors</h1>
        <p>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nihil aliquid explicabo provident,
            odio, laborum accusantium doloremque in fugiat minima illo! Perferendis distinctio voluptatum similique ipsa
            voluptatem vel consequatur odit?
        </p>

    </div>

    <div class="col-4">

        <img src="assets/img/warriors.jpg" class="img-thumbnail">

    </div>

</div>


{{> footer}}